{% extends "template.html" %}

{% block headline %}
	<h1>Edit stock</h1>
{% endblock headline %}

{% block body %}
	<form action="/addStock">
		<label for="name">Name of product:</label><br>
		<input type="text" id="name" name="name"><br>
		<label for="name">Price:</label><br>
		<input type="text" id="price" name="price"><br>
		<label for="name">Stock:</label><br>
		<input type="text" id="Stock" name="stock"><br><br>
		<input type="submit" value="Submit">
	</form>
	<a href="/stock"><button>Back to stock</button></a>
{% endblock body %}