<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div id="contentWrapper">
		<div id="navbar">
			<div id="homeLink">
				<a href="/home">Home</a>
			</div>
			<div id="userStock">
				{% if current_user.is_authenticated %}
					<a href="/stock">Stock</a>
					{% if current_user.isAdmin() %}
						<a href="/addStock">Add Stock</a>
					{% endif %}
			</div>
			<div id="userHandling">
				<a href="/logout">Logout</a>
				{% else %}
					<div>
						<a href="/login">Login</a>
						<a href="/signup">Sign up</a>	
					</div>

				{% endif %}
			</div>
		</div>
		<header>
			{% block headline %}

			{% endblock headline%}
		</header>
		{% block body %}

		{% endblock body %}
	</div>
</body>
</html>