* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
header {
	display: flex;
	justify-content: space-between;
}
h1 {
	display: flex;
	justify-content: center;
	font-size: 2rem;
}

#contentWrapper {
	a {
		text-decoration: none;
	}
	#navbar {
		display: flex;
		justify-content: center;
		height: 2rem;
		background-color: rgba(160, 182, 217, 0.3);
		margin: 0 0 1rem 0;
		#homeLink {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		#userHandling {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		#userStock {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
	}
}



table {
	width: 100%;
	border:.1rem solid black;
	border-collapse: collapse;
	
	th {
		height: 3rem;
		width: 33%;
		border:.1rem solid black;
		padding: .3rem;
	}

	td {
		height: 2rem;
		border:.1rem solid black;
		padding: .3rem;
	}
}

