@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

#contentwrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(235deg, #404351 0%, #9ca1a4 98%);
  /* Grå gradient */ }
  #contentwrapper #logo {
    width: 30%; }
  #contentwrapper #content {
    display: flex;
    flex-direction: column; }
    #contentwrapper #content #nav {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      height: 20%;
      text-align: right;
      padding: .4rem .4rem 0 0; }
      #contentwrapper #content #nav a {
        width: auto;
        height: auto;
        padding: .3rem;
        border: 1px solid black;
        border-radius: 2px;
        background: #C84630;
        /* Rød */
        text-decoration: none;
        color: black;
        transition-duration: 0.4s; }
      #contentwrapper #content #nav a:hover {
        background-color: #A03122;
        /* Mørkere Rød */
        color: #dddddd;
        /* Grå */ }
    #contentwrapper #content #board {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin: 1rem 0 0 0; }
      #contentwrapper #content #board #calendar {
        width: 65%;
        margin: 1rem;
        padding: .2rem;
        border: .3rem solid black;
        background-color: #a1a6ac; }
        #contentwrapper #content #board #calendar p {
          font-size: 2rem;
          text-align: center;
          margin: 0 0 .5rem 0; }
        #contentwrapper #content #board #calendar table {
          width: 100%;
          border: .2rem solid black;
          border-radius: .1rem;
          background-color: #F7FFF7;
          /* Hvid-ish */ }
          #contentwrapper #content #board #calendar table td, #contentwrapper #content #board #calendar table thead {
            height: 1rem;
            border: .1rem solid black;
            border-collapse: collapse;
            padding: .1rem;
            text-align: center; }
      #contentwrapper #content #board #links {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        border: .3rem solid black;
        background: #a1a6ac;
        /* Grå */ }
        #contentwrapper #content #board #links p {
          font-size: 2rem; }
        #contentwrapper #content #board #links a {
          text-align: center;
          width: 20rem;
          height: 20%;
          margin: auto;
          border: 1px solid black;
          border-radius: 2px;
          background: #2c96d3;
          /* Blå */
          text-decoration: none;
          color: black;
          transition-duration: 0.4s; }
        #contentwrapper #content #board #links a:hover {
          background-color: #237ab4;
          /* Mørkere Blå */
          color: white; }
        #contentwrapper #content #board #links p {
          padding-bottom: 1rem; }
