<!DOCTYPE html>
<html>
<head>
	<title>Asklepios</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/change.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div id="contentwrapper">
		<div id="content" class="center">
			
			<img id="logo"src="/static/images/asklepios.svg" class="center">

			<div id="formDiv" class="center">
				{% if current_user.is_authenticated %}
					<form method="POST" action="">
						{{ form.hidden_tag() }}	
						<p>Dag (1-7)</p>
						{{ form.dag }}
						<p>Time (0-23)</p>
						{{ form.time }}
						<p>Begivenhed</p>
						{{ form.content }}
						{{ form.submit }}
					</form>
				{% else %}
					<div id="signup" class="center">
						<a href="/login">Login</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>