<!DOCTYPE html>
<html>
<head>
	<title>Asklepios</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div id="contentwrapper">
		<div id="content" class="center">
			
			<img id="logo"src="/static/images/asklepios.svg" class="center">

			<div id="calendar">
				{% if current_user.is_authenticated %}
					{{ table }}
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>