<!DOCTYPE html>
<html>
<head>
	<title>Asklepios</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div id="contentwrapper">
		<div id="content" class="center">
			<div id="nav">
				<a id="logout" href="/logout">Logout</a>
			</div>
			<img id="logo"src="/static/images/asklepios.svg" class="center">
			<div id="board" >
				<div id="calendar">
				{% if current_user.is_authenticated %}
					Dagens dato{{ date }}/{{month}}
					{{ table }}
				{% else %}
					<a href="/login">Login</a>
				{% endif %}
				</div>
				<div id="links">
					<p>Links:</p>
					<a href="/change" class="center">Rediger Kalender</a>
					<a href="https://www.Coronasmitte.dk" class="center">Coronasmitte.dk</a>
					<a href="https://www.sst.dk/da/corona" class="center">Sundhedsstyrelse.dk</a>
					<a href="https://www.google.dk/maps/search/hospital/data=!3m1!4b1" class="center">Search for hospitals</a>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>